<template>
  <div class="board">
    <div class="box" v-if="!text">
      <input id="dl-cta" type="file" @change="processFile($event)"/>
      <label for="dl-cta">
        <span>Choose a file…</span>
      </label>
    </div>
    <div class="controls" v-if="text">
      <a id="dl-anchor-el" @click="downloadJSON">Download</a>
      <a @click="switchViewType">{{ jsonView ?  'Preview' : 'Json view'}}</a>
    </div>
    <div class="sizing-box" v-if="text">
      <div class="relative-box">
        <tree-view :data="data" :options="{maxDepth: 10}" v-if="jsonView"></tree-view>
        <div id="raw-html" v-html="rawHtml" v-if="!jsonView"></div>
      </div>
    </div>
  </div>
</template>

<script>
import BlobReader from './../pure/BlobReader'
import EmailParser from './../pure/DOMEmailParser'
export default {
  data () {
    return {
      jsonView: false,
      file: null,
      text: null,
      data: {}
    }
  },
  computed: {
    rawHtml (newVal) {
      return decodeURIComponent(escape(this.text)).replace(/\\"/g, '"').replace(/\\r\\n/g, '')
    }
  },
  methods: {
    processFile (event) {
      this.blob = event.target.files[0]
      var blobReader = new BlobReader(this.blob)
      blobReader.parseByte(0, this.blob.size - 1).then((response) => {
        this.text = response
        this.$nextTick(this.tryAgregateData)
      })
    },
    tryAgregateData () {
      var emailParser = new EmailParser(this.$el.querySelector('#raw-html'))
      this.data = emailParser.agregateTrip()
    },
    downloadJSON () {
      var dataStr = 'data:text/json;charset=utf-8,' + encodeURIComponent(JSON.stringify(this.data))
      var dlAnchorElem = this.$el.querySelector('#dl-anchor-el')
      dlAnchorElem.setAttribute('href', dataStr)
      dlAnchorElem.setAttribute('download', 'test-result.json')
    },
    switchViewType () {
      this.jsonView = !this.jsonView
    }
  }
}
</script>

<style scoped>
.box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
input[type="file"] {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
label {
  background-color: #15c39a;
  color: #ffffff;
  padding: 1em;
}
.controls {
  position: fixed;
  height: 50px;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: auto;
  line-height: 50px;
}
a {
  background-color: #15c39a;
  color: #ffffff;
  margin-left: 1em;
  padding: .3em;
  text-decoration: none;
}
.sizing-box {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 50px;
  left: 0;
  overflow: auto;
}
.relative-box {
  position: relative;
}
#raw-html {
}
</style>
