<template>
  <div id="app">
    <Board/>
  </div>
</template>

<script>
import Board from './components/Board'

export default {
  components: {
    Board
  }
}
</script>

<style>
@import url('https://fonts.googleapis.com/css?family=Montserrat');

html, body {
  padding: 0;
  margin: 0;
  height: 100%;
}
body {
  font-family: 'Montserrat', sans-serif;
  background-color: rgb(34, 34, 34);
}
.tree-view-wrapper {
  padding: 2em;
  color: beige;
}
</style>
